---
layout: default
title: Nathans Notes
category: asdf
---

<div post_listing>
    <!-- This loops through the paginated posts -->
    {% for post in paginator.posts %}
        <div class="post_link">  <a href="{{ post.url }}">{{ post.title }}</a> </div>
        <span class="date">{{ post.date | date: "%-d %B %Y"}}</span>
    {% endfor %}

    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous"><-</a>
      {% else %}
        <span class="previous"></span>
      {% endif %}
      <span class="page_number "> {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">-></a>
      {% else %}
        <span class="next"></span>
      {% endif %}
    </div>
</div>
