/* attempted arrangement:
 * top level elements
 * general classes
 * page specific classes
 * code snippet styling */

h1 { font-size: 2.3em;   }
h2 { font-size: 1.675em; }
p  { font-size: 1em; }

p { font-family: 'Open Sans'; }

h1, h2, h3, h4, h5 {
    font-family: 'Roboto';
    font-weight: normal;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    max-width: 90%;
    min-width: 90%;
}

blockquote p {
    border-left: 2px solid #dadbdc;
    padding: 4px;
    color: rgba(0,0,0, 0.6);
}


.center { text-align: center; }
.left { float: left; }
.right { float: right; }
.container {
    margin: auto;
    width: auto;
    max-width: 800px;
}

.terminal {
    width: auto;
}

.panel {
    font-family: "Roboto";

    width: auto;
    max-width: 800;
    height: 30px;
    margin: 0px 0px 12px 0px;

    background: rgba(0,0,0,0.0);
}

.panel a {
    background-color: #f4f5f6;
    border: 4px solid #eeeff0;

    background-image: none !important;

    padding: 4px;
    display: inline-block;
}

.panel a:hover {
    color: rgba(0,0,0,0.6);
}


/* listing is used for post listing */

.listing a {
    font-family: 'Open Sans';
    background-image: none !important;
    display: block;
}

.listing a:hover {
    background-color: #eeeff0;
    color: rgba(0,0,0,0.8) !important;
}

