:root {
--accent2_    : #2c7600;
--accent2     : #006e96;
--accent1_    : #0061c4;
--accent1     : #2d249f;
--background_plus : #aacde6;
--background__: #d1c8ca;
--background_ : #e0dadb;
--background  : #e5e7ea;
--foreground_plus : #393a3c;
--foreground_ : #656669;
--foreground  : #393a3c;
}
