:root {
--accent2_    : #2f7600;
--accent2     : #0080ad;
--accent1_    : #005bc7;
--accent1     : #2e26a1;
--background_plus : #d4cbcc;
--background__: #d4cbcc;
--background_ : #e3ddde;
--background  : #e8eaed;
--foreground_plus : #e8eaed;
--foreground_ : #66676a;
--foreground  : #3a3b3d;
}
