body {
    /* background-image: url("https://neeasade.net/pattern_125.gif"); */
    background-image: url("../img/backgrounds/soft.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
}

li > ul {
    margin-left: 2em !important;
}

img
{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:auto;
    height:auto;
    max-width:90% !important;
    max-height:400px;
    border: 1px solid #B0A8A6
}

@media screen and (max-width: 800px) {
  #content, #postamble, #preamble {
    width: 98%;
  }
}

#content, #postamble, #preamble {
    display: block;
    margin: 10px auto 10px auto;
    padding: 0 16px 16px 16px;
    /* padding: 0 0.2em 0.2em 0.2em; */
    max-width: 60em;


    background-color: #eef0f3;

    border-image:  url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAABHNCSVQICAgIfAhkiAAAAGJJREFUOI1jbOta/p+ByoCFgYGBwcbGhmoGHjlyhIGJaqYhgRFuKAsuiSNHjhDUjCuCcRrKwMDAUFUWyYhLDl9SHDphOmoo9QHeJEVuCYbTUEpKrqETpkPHUBYGBuJKJFIAADHjEqIMeb/nAAAAAElFTkSuQmCC") 7 /  7px / 0 round;
    border-width:  7px;

    border-style:  solid;
}
