body {
    background-image: url("../img/backgrounds/newfeather.png");
    background-repeat: repeat;
    background-attachment: fixed;
}

/* hide org mode figure notes on image captions */
.figure-number {
    display: none;
}

.timestamp {
    color: var(--accent1_);
}

table {
    margin: auto;
}

img {
    margin: auto;
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 400px;
    border: 1px solid var(--nc-bg-2);
}

#content, #postamble, #preamble {
    padding: 14px;
    background: var(--background);
}

.section-number-1,
.section-number-2,
.section-number-3,
.section-number-4,
.section-number-5 {
    color: var(--foreground_);
    float: right;
}
