.menuStuff{
  background:#444444;

}

.container{
top:30%;
border:3px solid #323232;
background-color:#1f1f1f;
}

body {
  background-image:url('/public/background/background.png');
  background-repeat:repeat;
}

.content{
  font-size:12px;
}
