
*
{
    font-family:Inconsolata
}

.header-link
{
  font-size: 11pt;
}

body {
  background-image:url('/public/background/background.png');
  background-repeat:repeat;
}

.header-title
{
    font:bold;
    font-size:40pt;
    margin: 0px;
    padding:0;
}

.post-content
{
    margin-top:6px;
}

.title
{
    font-size:14pt;
}

.date
{
    font-size:8pt;
}
