<center><h2><a href="http://neeasade.net"> Nathan's Notes</a></h2>
|
{% for link in site.data.links %}
              <a href="{{ link.link }}">{{ link.name }}</a> |
            {% endfor %}
            <p>
               <script>
  (function() {
    var cx = '015512188353118468903:1vnel2elaf8';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search> 
        </p>

      </center>
