@import "gray_theme";

a {
    color: inherit;
    text-decoration: none;

    background-image: $link-underline
}

a:hover {
  color: $link-hover-color;
}

body {
    background-image: $background-image;
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: $body-font;
    font-size: 100%;
    color: $text-color;
}

.terminal {
    color: $text-color;
    background-color: $background-color;
    border: $terminal-border;

    padding: 20px;
    margin: 10px auto 10px auto;
    display: block;
    width: auto;
}

pre {
    font-family: $code-font;
}

.highlight {
    font-family: $code-font;
    background-color: $code-background-color;
    color: inherit;
}

.highlight .lineno, .linenumbers {
    display:inline-block;

    border-right: 2px solid $blockquote-color;
    text-align: right;
    margin-right: 2px;

    color: $code-lineno-color;
    padding: 0px 2px 0px 4px;
}
