@import url(http://fonts.googleapis.com/css?family=Roboto|Open+Sans);

// note: font import must be at the top.
$body-font: 'Open Sans';
$heading-font: 'Roboto';
$code-font: "Lucida Console", Monaco, monospace;

$background-image: url('http://notes.neeasade.net/assets/img/backgrounds/sayagata.png');

$text-color: rgba(0,0,0,0.8);
$link-hover-color: rgba(0,0,0,0.6);
$background-color: #f4f5f6;

// also affects panel links
$terminal-border: 4px solid #eeeff0;
$listing-hover-background-color: #eeeff0;

$code-background-color: $background-color;
$code-lineno-color: #rgba(0,0,0,0.4);

// also code delimiter color
$blockquote-color: #dadbdc;
$blockquote-text-color: rgba(0,0,0, 0.6);

$panel-link-padding: 4px;

$link-underline: linear-gradient(to top,
      rgba(0,0,0,0) 11%,
      rgba(0,0,0,.3) 11%,
      rgba(0,0,0,.3) 16%,
      rgba(0,0,0,0) 16%
    );

.highlight .hll { background-color: #e0e0e0 }
.highlight .c { color: #b0b0b0 } /* Comment */
.highlight .err { color: #fb9fb1 } /* Error */
.highlight .k { color: #e1a3ee } /* Keyword */
.highlight .l { color: #eda987 } /* Literal */
.highlight .n { color: #151515 } /* Name */
.highlight .o { color: #12cfc0 } /* Operator */
.highlight .p { color: #151515 } /* Punctuation */
.highlight .cm { color: #b0b0b0 } /* Comment.Multiline */
.highlight .cp { color: #b0b0b0 } /* Comment.Preproc */
.highlight .c1 { color: #b0b0b0 } /* Comment.Single */
.highlight .cs { color: #b0b0b0 } /* Comment.Special */
.highlight .gd { color: #fb9fb1 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { color: #151515; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #acc267 } /* Generic.Inserted */
.highlight .gp { color: #b0b0b0; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #12cfc0; font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: #e1a3ee } /* Keyword.Constant */
.highlight .kd { color: #e1a3ee } /* Keyword.Declaration */
.highlight .kn { color: #12cfc0 } /* Keyword.Namespace */
.highlight .kp { color: #e1a3ee } /* Keyword.Pseudo */
.highlight .kr { color: #e1a3ee } /* Keyword.Reserved */
.highlight .kt { color: #ddb26f } /* Keyword.Type */
.highlight .ld { color: #acc267 } /* Literal.Date */
.highlight .m { color: #eda987 } /* Literal.Number */
.highlight .s { color: #acc267 } /* Literal.String */
.highlight .na { color: #6fc2ef } /* Name.Attribute */
.highlight .nb { color: #151515 } /* Name.Builtin */
.highlight .nc { color: #ddb26f } /* Name.Class */
.highlight .no { color: #fb9fb1 } /* Name.Constant */
.highlight .nd { color: #12cfc0 } /* Name.Decorator */
.highlight .ni { color: #151515 } /* Name.Entity */
.highlight .ne { color: #fb9fb1 } /* Name.Exception */
.highlight .nf { color: #6fc2ef } /* Name.Function */
.highlight .nl { color: #151515 } /* Name.Label */
.highlight .nn { color: #ddb26f } /* Name.Namespace */
.highlight .nx { color: #6fc2ef } /* Name.Other */
.highlight .py { color: #151515 } /* Name.Property */
.highlight .nt { color: #12cfc0 } /* Name.Tag */
.highlight .nv { color: #fb9fb1 } /* Name.Variable */
.highlight .ow { color: #12cfc0 } /* Operator.Word */
.highlight .w { color: #151515 } /* Text.Whitespace */
.highlight .mf { color: #eda987 } /* Literal.Number.Float */
.highlight .mh { color: #eda987 } /* Literal.Number.Hex */
.highlight .mi { color: #eda987 } /* Literal.Number.Integer */
.highlight .mo { color: #eda987 } /* Literal.Number.Oct */
.highlight .sb { color: #acc267 } /* Literal.String.Backtick */
.highlight .sc { color: #151515 } /* Literal.String.Char */
.highlight .sd { color: #b0b0b0 } /* Literal.String.Doc */
.highlight .s2 { color: #acc267 } /* Literal.String.Double */
.highlight .se { color: #eda987 } /* Literal.String.Escape */
.highlight .sh { color: #acc267 } /* Literal.String.Heredoc */
.highlight .si { color: #eda987 } /* Literal.String.Interpol */
.highlight .sx { color: #acc267 } /* Literal.String.Other */
.highlight .sr { color: #acc267 } /* Literal.String.Regex */
.highlight .s1 { color: #acc267 } /* Literal.String.Single */
.highlight .ss { color: #acc267 } /* Literal.String.Symbol */
.highlight .bp { color: #151515 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #fb9fb1 } /* Name.Variable.Class */
.highlight .vg { color: #fb9fb1 } /* Name.Variable.Global */
.highlight .vi { color: #fb9fb1 } /* Name.Variable.Instance */
.highlight .il { color: #eda987 } /* Literal.Number.Integer.Long */
