/* notes
This is a version of tarp-mcfay that was generated against a background that accounts for transparency

Get the mode color of a background image:
$ convert "leaves.jpg" txt:- | awk '{print $3}' | rg -v pixel | sort | bb -i '(apply max-key val (frequencies *input*))'
"#394400"

Get the target background against that median:
(ct-mix-opacity
  (tarp/get :background)
  "#394400"
  0.95)

=> "#dfe2e0"

.. and then regenerate the base and emphasized themes around that opacity altered target
*/


:root {
--background  : rgba(232, 235, 236, 0.95);
--background_weak : #d1d1d2;
--background_strong: #c7c4c6;
--background_plus : #95bfd8;

--strings     : #007800;
--alt         : #006c94;
--assumed     : #0061c4;
--primary     : #c00079;

--faded       : #4f5250;
--faded_weak : #474748;
--faded_strong : #413e40;

--foreground  : #393c3a;
--foreground_weak : #313132;
--foreground_strong : #292628;
--foreground_plus : #001f38;

--radius: 0px;

/* compat */
--background__: var(--background_strong);
--background_: var(--background_weak);
--foreground_ : var(--fadedn);
--accent2_    : var(--strings);
--accent2     : var(--alt);
--accent1_    : var(--assumed);
--accent1     : var(--primary);
}
