/* notes
This is a version of tarp-mcfay that was generated against a background that accounts for transparency

Get the mode color of a background image:
$ convert "leaves.jpg" txt:- | awk '{print $3}' | rg -v pixel | sort | bb -i '(apply max-key val (frequencies *input*))'
"#394400"

Get the target background against that median:
(ct-mix-opacity
  (tarp/get :background)
  "#394400"
  0.95)

=> "#dfe2e0"

.. and then regenerate the base and emphasized themes around that opacity altered target


$ theme -p color.normal -r ./um

--background  : {{background}};
--background_weak : {{color.weak.background}};
--background_strong: {{color.strong.background}};
--background_plus : {{color.focused.background}};

--strings     : {{strings}};
--alt         : {{alt}};
--assumed     : {{assumed}};
--primary     : {{primary}};

--faded       : {{faded}};
--faded_weak : {{color.weak.faded}};
--faded_strong : {{color.strong.faded}};

--foreground  : {{foreground}};
--foreground_weak : {{color.weak.foreground}};
--foreground_strong : {{color.strong.foreground}};
--foreground_plus : {{color.focused.foreground}};

*/

:root {
--background  : #e8ebec;
--background_weak : #d6d7d8;
--background_strong: #cdcacb;
--background_plus : #a6d0ed;

--strings     : #007c00;
--alt         : #006e96;
--assumed     : #0065c8;
--primary     : #c6007f;

--faded       : #6a6d6e;
--faded_weak : #606162;
--faded_strong : #5b5859;

--foreground  : #444748;
--foreground_weak : #3a3b3c;
--foreground_strong : #353233;
--foreground_plus : #0c3653;

-radius: 0px;

/* compat */
--background__: var(--background_strong);
--background_: var(--background_weak);
--foreground_ : var(--faded);
--accent2_    : var(--strings);
--accent2     : var(--alt);
--accent1_    : var(--assumed);
--accent1     : var(--primary);
}
