/* notes

Get the mode color of a background image:
$ convert "leaves.jpg" txt:- | awk '{print $3}' | rg -v pixel | sort | bb -i '(apply max-key val (frequencies *input*))'
"#394400"

Get the target background against that median:
(ct-mix-opacity
  (tarp/get :background)
  "#394400"
  0.95)

=> "#dfe2e0"

.. and then regenerate the base and emphasized themes around that opacity altered target

$

cat<<EOF | theme -p color.normal -r /dev/stdin

--background  : {{background}};
--background_weak : {{color.weak.background}};
--background_strong: {{color.strong.background}};
--background_plus : {{color.focused.background}};

--strings     : {{strings}};
--alt         : {{alt}};
--assumed     : {{assumed}};
--primary     : {{primary}};

--faded       : {{faded}};
--faded_weak : {{color.weak.faded}};
--faded_strong : {{color.strong.faded}};

--foreground  : {{foreground}};
--foreground_weak : {{color.weak.foreground}};
--foreground_strong : {{color.strong.foreground}};
--foreground_plus : {{color.focused.foreground}};
EOF

*/

:root {
    /* NOT HANDLED ABOVE TODO */
    /* myron-room */
--background_subtle : #e7e7e7;
}

:root {

--background  : #f0f0f0;
--background_weak : #dddddd;
--background_strong: #d0d0d0;
--background_plus : #fed3c8;

--strings     : #cb7000;
--alt         : #00acc3;
--assumed     : #5a5a5a;
--primary     : #0095ac;

--faded       : #8a8a8a;
--faded_weak : #7d7d7d;
--faded_strong : #747474;

--foreground  : #5a5a5a;
--foreground_weak : #4f4f4f;
--foreground_strong : #474747;
--foreground_plus : #6e4338;

--radius: 0px;

/* compat */
--background__: var(--background_strong);
--background_: var(--background_weak);
--foreground_ : var(--faded);
--accent2_    : var(--strings);
--accent2     : var(--alt);
--accent1_    : var(--assumed);
--accent1     : var(--primary);
}
