.post-title, .post-date {
    position: relative;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    vertical-align: 50%;
    margin-left: auto;
    margin-right: auto;
}

.post_link {
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 3px;
}

.terminal a {
    color: inherit;
    text-decoration: none;

    background-image: linear-gradient(to top,
      rgba(0,0,0,0) 11%,
      rgba(0,0,0,.3) 11%,
      rgba(0,0,0,.3) 16%,
      rgba(0,0,0,0) 16%
    );

}

.terminal a:hover {
    color: rgba(0,0,0,0.6);
}

p img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    max-width: 90%;
    min-width: 90%;
}

.terminal {
    background-color: #f4f5f6;
    color: rgba(0,0,0,0.8);
    border: 4px solid #eeeff0;

    font-family: "Droid Sans", "Lucida Console", Monaco, monospace;
    font-size: 1em;

    padding: 10px;
    margin: 10px auto 10px auto;
    display: block;

    /* todo: figure out how to scale things */
    width: auto;
    max-width: 764px;
}

/* assuming code blocks */
pre {
    font-family: "Droid Sans Mono", "Lucida Console", Monaco, monospace;
    font-size: 0.9em;
    background-color: #eeeff0;
}

.panel {
    font-family: 'Droid Sans';
    font-weight: bold;
    font-size: 10pt;
    letter-spacing: 0.5px;

    width; auto;
    height: 28px;
    max-width: 800px;

    position: relative;
    vertical-align: middle;
    margin: 8px auto 8px auto;
    padding: 4px 2px 6px 2px;

    background: rgba(0,0,0,0.0);
    color: rgba(0,0,0,0.8);
}

body {
    background-image: url('/assets/img/background.png');
    background-repeat: repeat;
    background-attachment: fixed;
}

.title {
    font-size: 1em;
}

.date {
    font-size: 10pt;
    float: right;
}

/* for panel */

.panel a {
    background-color: #f4f5f6;
    color: rgba(0,0,0,0.8);
    border: 4px solid #eeeff0;
    font-size: 1em;
    text-decoration: none;

    padding: 4px;
    margin-left: 2px;
    margin-right: 2px;
    display: inline-block;
}

.panel a:hover {
    color: rgba(0,0,0,0.6);
}

.left {
    float: left;
}

.right {
    float: right;
}

/* base16 light */

.syntax .hll { background-color: #e0e0e0 }
.syntax  { background: #f4f5f6; color: #151515 }
.syntax .c { color: #b0b0b0 } /* Comment */
.syntax .err { color: #fb9fb1 } /* Error */
.syntax .k { color: #e1a3ee } /* Keyword */
.syntax .l { color: #eda987 } /* Literal */
.syntax .n { color: #151515 } /* Name */
.syntax .o { color: #12cfc0 } /* Operator */
.syntax .p { color: #151515 } /* Punctuation */
.syntax .cm { color: #b0b0b0 } /* Comment.Multiline */
.syntax .cp { color: #b0b0b0 } /* Comment.Preproc */
.syntax .c1 { color: #b0b0b0 } /* Comment.Single */
.syntax .cs { color: #b0b0b0 } /* Comment.Special */
.syntax .gd { color: #fb9fb1 } /* Generic.Deleted */
.syntax .ge { font-style: italic } /* Generic.Emph */
.syntax .gh { color: #151515; font-weight: bold } /* Generic.Heading */
.syntax .gi { color: #acc267 } /* Generic.Inserted */
.syntax .gp { color: #b0b0b0; font-weight: bold } /* Generic.Prompt */
.syntax .gs { font-weight: bold } /* Generic.Strong */
.syntax .gu { color: #12cfc0; font-weight: bold } /* Generic.Subheading */
.syntax .kc { color: #e1a3ee } /* Keyword.Constant */
.syntax .kd { color: #e1a3ee } /* Keyword.Declaration */
.syntax .kn { color: #12cfc0 } /* Keyword.Namespace */
.syntax .kp { color: #e1a3ee } /* Keyword.Pseudo */
.syntax .kr { color: #e1a3ee } /* Keyword.Reserved */
.syntax .kt { color: #ddb26f } /* Keyword.Type */
.syntax .ld { color: #acc267 } /* Literal.Date */
.syntax .m { color: #eda987 } /* Literal.Number */
.syntax .s { color: #acc267 } /* Literal.String */
.syntax .na { color: #6fc2ef } /* Name.Attribute */
.syntax .nb { color: #151515 } /* Name.Builtin */
.syntax .nc { color: #ddb26f } /* Name.Class */
.syntax .no { color: #fb9fb1 } /* Name.Constant */
.syntax .nd { color: #12cfc0 } /* Name.Decorator */
.syntax .ni { color: #151515 } /* Name.Entity */
.syntax .ne { color: #fb9fb1 } /* Name.Exception */
.syntax .nf { color: #6fc2ef } /* Name.Function */
.syntax .nl { color: #151515 } /* Name.Label */
.syntax .nn { color: #ddb26f } /* Name.Namespace */
.syntax .nx { color: #6fc2ef } /* Name.Other */
.syntax .py { color: #151515 } /* Name.Property */
.syntax .nt { color: #12cfc0 } /* Name.Tag */
.syntax .nv { color: #fb9fb1 } /* Name.Variable */
.syntax .ow { color: #12cfc0 } /* Operator.Word */
.syntax .w { color: #151515 } /* Text.Whitespace */
.syntax .mf { color: #eda987 } /* Literal.Number.Float */
.syntax .mh { color: #eda987 } /* Literal.Number.Hex */
.syntax .mi { color: #eda987 } /* Literal.Number.Integer */
.syntax .mo { color: #eda987 } /* Literal.Number.Oct */
.syntax .sb { color: #acc267 } /* Literal.String.Backtick */
.syntax .sc { color: #151515 } /* Literal.String.Char */
.syntax .sd { color: #b0b0b0 } /* Literal.String.Doc */
.syntax .s2 { color: #acc267 } /* Literal.String.Double */
.syntax .se { color: #eda987 } /* Literal.String.Escape */
.syntax .sh { color: #acc267 } /* Literal.String.Heredoc */
.syntax .si { color: #eda987 } /* Literal.String.Interpol */
.syntax .sx { color: #acc267 } /* Literal.String.Other */
.syntax .sr { color: #acc267 } /* Literal.String.Regex */
.syntax .s1 { color: #acc267 } /* Literal.String.Single */
.syntax .ss { color: #acc267 } /* Literal.String.Symbol */
.syntax .bp { color: #151515 } /* Name.Builtin.Pseudo */
.syntax .vc { color: #fb9fb1 } /* Name.Variable.Class */
.syntax .vg { color: #fb9fb1 } /* Name.Variable.Global */
.syntax .vi { color: #fb9fb1 } /* Name.Variable.Instance */
.syntax .il { color: #eda987 } /* Literal.Number.Integer.Long */
