.post-title, .post-date {
    position: relative;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    vertical-align: 50%;
    margin-left: auto;
    margin-right: auto;
}

.post_link {
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 3px;
}

.terminal a {
    color: inherit;
    text-decoration: none;

    background-image: linear-gradient(to top,
      rgba(0,0,0,0) 11%,
      rgba(0,0,0,.3) 11%,
      rgba(0,0,0,.3) 16%,
      rgba(0,0,0,0) 16%
    );

}

.terminal a:hover {
    color: rgba(0,0,0,0.6);
}

p img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    max-width: 90%;
    min-width: 90%;
}

.terminal {
    background-color: #f4f5f6;
    color: rgba(0,0,0,0.8);
    border: 4px solid #eeeff0;

    font-family: "Droid Sans", "Lucida Console", Monaco, monospace;
    font-size: 1em;

    padding: 10px;
    margin: 10px auto 10px auto;
    display: block;

    /* todo: figure out how to scale things */
    width: auto;
    max-width: 764px;
}

/* assuming code blocks */
pre {
    font-family: "Droid Sans Mono", "Lucida Console", Monaco, monospace;
    font-size: 0.9em;
    background-color: #eeeff0;
}

.panel {
    font-family: 'Droid Sans';
    font-weight: bold;
    font-size: 10pt;
    letter-spacing: 0.5px;

    width; auto;
    height: 28px;
    max-width: 800px;

    position: relative;
    vertical-align: middle;
    margin: 8px auto 8px auto;
    padding: 4px 2px 6px 2px;

    background: rgba(0,0,0,0.0);
    color: rgba(0,0,0,0.8);
}

body {
    background-image: url('/assets/img/background.png');
    background-repeat: repeat;
    background-attachment: fixed;
}

.title {
    font-size: 1em;
}

.date {
    font-size: 10pt;
    float: right;
}

/* for panel */

.panel a {
    background-color: #f4f5f6;
    color: rgba(0,0,0,0.8);
    border: 4px solid #eeeff0;
    font-size: 1em;
    text-decoration: none;

    padding: 4px;
    margin-left: 2px;
    margin-right: 2px;
    display: inline-block;
}

.panel a:hover {
    color: rgba(0,0,0,0.6);
}

.left {
    float: left;
}

.right {
    float: right;
}

/* base16 light */

.code .hll { background-color: #e0e0e0 }
.code  { background: #f4f5f6; color: #151515 }
.code .c { color: #b0b0b0 } /* Comment */
.code .err { color: #fb9fb1 } /* Error */
.code .k { color: #e1a3ee } /* Keyword */
.code .l { color: #eda987 } /* Literal */
.code .n { color: #151515 } /* Name */
.code .o { color: #12cfc0 } /* Operator */
.code .p { color: #151515 } /* Punctuation */
.code .cm { color: #b0b0b0 } /* Comment.Multiline */
.code .cp { color: #b0b0b0 } /* Comment.Preproc */
.code .c1 { color: #b0b0b0 } /* Comment.Single */
.code .cs { color: #b0b0b0 } /* Comment.Special */
.code .gd { color: #fb9fb1 } /* Generic.Deleted */
.code .ge { font-style: italic } /* Generic.Emph */
.code .gh { color: #151515; font-weight: bold } /* Generic.Heading */
.code .gi { color: #acc267 } /* Generic.Inserted */
.code .gp { color: #b0b0b0; font-weight: bold } /* Generic.Prompt */
.code .gs { font-weight: bold } /* Generic.Strong */
.code .gu { color: #12cfc0; font-weight: bold } /* Generic.Subheading */
.code .kc { color: #e1a3ee } /* Keyword.Constant */
.code .kd { color: #e1a3ee } /* Keyword.Declaration */
.code .kn { color: #12cfc0 } /* Keyword.Namespace */
.code .kp { color: #e1a3ee } /* Keyword.Pseudo */
.code .kr { color: #e1a3ee } /* Keyword.Reserved */
.code .kt { color: #ddb26f } /* Keyword.Type */
.code .ld { color: #acc267 } /* Literal.Date */
.code .m { color: #eda987 } /* Literal.Number */
.code .s { color: #acc267 } /* Literal.String */
.code .na { color: #6fc2ef } /* Name.Attribute */
.code .nb { color: #151515 } /* Name.Builtin */
.code .nc { color: #ddb26f } /* Name.Class */
.code .no { color: #fb9fb1 } /* Name.Constant */
.code .nd { color: #12cfc0 } /* Name.Decorator */
.code .ni { color: #151515 } /* Name.Entity */
.code .ne { color: #fb9fb1 } /* Name.Exception */
.code .nf { color: #6fc2ef } /* Name.Function */
.code .nl { color: #151515 } /* Name.Label */
.code .nn { color: #ddb26f } /* Name.Namespace */
.code .nx { color: #6fc2ef } /* Name.Other */
.code .py { color: #151515 } /* Name.Property */
.code .nt { color: #12cfc0 } /* Name.Tag */
.code .nv { color: #fb9fb1 } /* Name.Variable */
.code .ow { color: #12cfc0 } /* Operator.Word */
.code .w { color: #151515 } /* Text.Whitespace */
.code .mf { color: #eda987 } /* Literal.Number.Float */
.code .mh { color: #eda987 } /* Literal.Number.Hex */
.code .mi { color: #eda987 } /* Literal.Number.Integer */
.code .mo { color: #eda987 } /* Literal.Number.Oct */
.code .sb { color: #acc267 } /* Literal.String.Backtick */
.code .sc { color: #151515 } /* Literal.String.Char */
.code .sd { color: #b0b0b0 } /* Literal.String.Doc */
.code .s2 { color: #acc267 } /* Literal.String.Double */
.code .se { color: #eda987 } /* Literal.String.Escape */
.code .sh { color: #acc267 } /* Literal.String.Heredoc */
.code .si { color: #eda987 } /* Literal.String.Interpol */
.code .sx { color: #acc267 } /* Literal.String.Other */
.code .sr { color: #acc267 } /* Literal.String.Regex */
.code .s1 { color: #acc267 } /* Literal.String.Single */
.code .ss { color: #acc267 } /* Literal.String.Symbol */
.code .bp { color: #151515 } /* Name.Builtin.Pseudo */
.code .vc { color: #fb9fb1 } /* Name.Variable.Class */
.code .vg { color: #fb9fb1 } /* Name.Variable.Global */
.code .vi { color: #fb9fb1 } /* Name.Variable.Instance */
.code .il { color: #eda987 } /* Literal.Number.Integer.Long */
