---
---

@import "base";

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    width: 80%;
    height: 60%;

    /* todo: figure out how to scale things */
    max-height: 200px;
    max-width: 450px;
}

.flagtext {
    font-family: $heading-font;
}

.links {
    text-align: center;
    font-family: $body-font;

    position: relative;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
