---
---

@import "base";

h1 { font-size: 2.3em;   }
h2 { font-size: 1.675em; }
h3 { font-size: 1.45em; }
h4 { font-size: 1.25em; }
p  { font-size: 1em; }

.smol { font-size: 0.8em; }

p {
    font-family: $body-font;
    text-indent: 20px;
}

h1, h2, h3, h4, h5 {
    margin-top: 1em;
    margin-bottom: 0.50em;

    font-family: $heading-font;
    font-weight: normal;
}

.post-title {
    margin-bottom: 0;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    max-width: 90%;
}

blockquote p {
    border-left: 4px solid $blockquote-color;
    padding: 4px;
    color: $blockquote-text-color;
}

.center { margin-left:auto; margin-right: auto;}
.left { float: left; }
.right { float: right; }

.center-text { text-align: center;}
.left-text { text-align: left;}
.right-text { text-align:right;}

.container {
    margin: auto;
    width: auto;
    max-width: 1000px;
}

.slim {
    width: max-content;
}

.panel {
    font-family: $heading-font;

    width: auto;
    height: 30px;
    margin: 0px 0px 12px 0px;

    background: rgba(0,0,0,0.0);
}

.content {
    max-width: 90%;
}

.highlight {
    margin-left:auto;
    margin-right:auto;
    width: 85%;
}

pre {
    font-size: 1.3em;
    white-space: pre;
    overflow: auto; 
}

.terminal {
    font-size: 1.2em;
    padding: 0px 20px 20px 20px;
}

/* account for the above missing padding on front page */
.listing {
    padding-top: 20px;
}

.panel a {
    background-color: $background-color;
    border: $terminal-border;

    background-image: none !important;

    padding: $panel-link-padding;
    display: inline-block;
}

.panel a:hover {
    color: $link-hover-color;
}

.search {
    margin:auto;
    width: 30%;
}

.search input {
    width: 100%;
    background-color: $background-color;
    border: 0px solid #000000;
    border-bottom: 1px solid $blockquote-text-color;
    font-size: 16px;
}

.search input:focus, .search textarea:focus { outline: 0; }

.results h3 {
  display: inline;
}

/* listing is used for post listing */

.listing a {
    font-family: $body-font;
    background-image: none !important;
    display: block;
}

.listing a:hover {
    background-color: $listing-hover-background-color;
    color: $text-color !important;
}

.navigation .next {
    border-right: 2px solid $blockquote-color;
    padding-right: 5px;
}

.navigation .previous {
    border-left: 2px solid $blockquote-color;
    padding-left: 5px;
}

.navigation a {
    border-bottom: 2px solid $blockquote-color;
    background-image: none;
    padding-bottom: 5px;
}

.navigation {
    padding-bottom: 25px;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 1px solid $text-color;
}

th, td {
    padding: 4px;
    text-align: left;
    border: 1px solid $text-color;
}
