body {
    background-attachment: fixed !important ;
    background-repeat: repeat; /* makes the image tile */
    background-position: absolute; /* centers the background */
    image-rendering: pixelated;
    /* height: 100%; */


    background: var(--background);

    /* background: var(--background_plus); */

    /* keep bg size in sync for pixel perf rendering */
    /* background: url("../img/backgrounds/room.png") repeat; */
    /* background-size: auto 195px !important; */
}

a:has(img) {
    border: none !important;
    background: none !important;
}

.posttags a {
    background: none !important;
    color: var(--faded) !important;
    padding-right: .5rem;
    border: none !important;
}

main {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.40);
    background: var(--bg);
    image-rendering: auto;

    min-height: 100vh;
}

.separator {
    text-align: center;
    vertical-align: center;
    line-height: 1.0;
    margin: 0;
    font-size: 3rem;
}

table {
    margin-left: 5rem;
}

h1 + div.org-center > p {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px !important;
    text-align: center;
}

/* anchors */
h2 > a[href^='#'],
h3 > a[href^='#'],
h4 > a[href^='#']
{
    font-size: 1.5rem;
    /* font-size: 1rem; */
    vertical-align: top;
}

footer {
    padding: 2rem;
}

h2,
h3 {
	border-bottom: 1px solid var(--background__);
}


blockquote {
	color: var(--foreground);
	/* background: var(--background_weak); */
	background: var(--background_subtle);
	border-left: 4px solid var(--background_weak);
	border-radius: var(--radius);
}

a {
	padding: 0px 2px;

	min-width: fit-content;
	text-decoration: none;

	background: var(--background_weak);
	/* color: var(--foreground_weak); */
	color: var(--alt);

	border-style: solid;

	border-color: #a0a3a4;
	border-radius: var(--radius);
	border-width: 1px;
	margin: -1px;
}

a:visited {
	border-color: #a0a3a4;
	text-decoration: none;
	color: var(--faded_weak);
}

a:hover,
.button:focus,
button:enabled:hover
{
	color: var(--foreground_plus);
	background: var(--background_plus);
	border-color: var(--foreground_plus);
}

a[href^="https://notes.neeasade.net"],
a[href^="/"],
a[href^="./"],
a[href^="#"] {
    background: var(--background_strong);
    color: var(--foreground_strong);
}

a[href^="https://notes.neeasade.net"]:hover,
a[href^="/"]:hover,
a[href^="./"]:hover,
a[href^="#"]:hover {
    background: var(--background_plus);
    color: var(--foreground_plus);
}

.section-number-1,
.section-number-2,
.section-number-3,
.section-number-4,
.section-number-5 {
    color: var(--foreground_);
    float: right;
}

.colorblock {
    min-width: fit-content;

    text-align: center;
    min-height: 50px;

    display: block;
    font-family: var(--font-mono);
    /* font-size: 0.9rem; */
}

.colorpadding {
    padding: 5px;
    margin: 5px;
}

.colorcenter {
    line-height: 50px;
}


pre {
    position: relative;
    overflow: visible;
}

pre:hover button {
    display: block;
}

pre button {
    display: none;
    position: absolute;
    top: -1rem;
    right: 1rem;
}

.title > svg {
    height: 2rem;
    width: 2rem;
}

::selection {
	/* Set background color for selected text */
	background: var(--background_plus);
	color: var(--foreground_plus);
}

.timestamp {
    border: 1px solid var(--background_weak);
    background: var(--background_subtle);

    color: var(--accent1_);
    display: inline-block;
    font-size: 1.5rem;
    white-space: nowrap;
}

input type {
    background: var(--background_subtle);
}

/* exported from org.css */
table { border-collapse:collapse; }
caption.t-above { caption-side: top; }
caption.t-bottom { caption-side: bottom; }
td, th { vertical-align:top;  }
th.org-right  { text-align: center;  }
th.org-left   { text-align: center;   }
th.org-center { text-align: center; }
td.org-right  { text-align: right;  }
td.org-left   { text-align: left;   }
td.org-center { text-align: center; }
dt { font-weight: bold; }
.footpara { display: inline; }
.footdef  { margin-bottom: 1em; }
.figure { padding: 1em; }
.figure p { text-align: center; }
.equation-container {
    display: table;
    text-align: center;
    width: 100%;
}
.equation {
    vertical-align: middle;
}
.equation-label {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
}
caption.t-above { caption-side: top; }
caption.t-bottom { caption-side: bottom; }
