body {
    background-image: url("https://neeasade.net/pattern_125.gif");
    background-repeat: repeat;
}

img
{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:auto;
    height:auto;
    max-width:90%;
}

#content, #postamble, #preamble {
    display: block;
    margin: 10px auto 10px auto;
    padding: 0 8px 16px 8px;
    max-width: 768px;

    background-color: #f7f7f7;
    border: 1px solid #B0A8A6;
}
