---
---

@import "base";

h1 { font-size: 2.3em;   }
h2 { font-size: 1.675em; }
h3 { font-size: 1.45em; }
p  { font-size: 1em; }

p { font-family: $body-font; }

h1, h2, h3, h4, h5 {
    font-family: $heading-font;
    font-weight: normal;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    max-width: 90%;
    min-width: 90%;
}

blockquote p {
    border-left: 4px solid $blockquote-color;
    padding: 4px;
    color: $blockquote-text-color;
}

.center { text-align: center; }
.left { float: left; }
.right { float: right; }
.container {
    margin: auto;
    width: auto;
    max-width: 800px;
}

.terminal {
    width: auto;
}

.panel {
    font-family: $heading-font;

    width: auto;
    max-width: 800;
    height: 30px;
    margin: 0px 0px 12px 0px;

    background: rgba(0,0,0,0.0);
}

.panel a {
    background-color: $background-color;
    border: $terminal-border;

    background-image: none !important;

    padding: $panel-link-padding;
    display: inline-block;
}

.panel a:hover {
    color: $link-hover-color;
}

.search {
    margin:auto;
    width: 220px;
}

.search input {
    width: 100%;
    background-color: $background-color;
    /* color: #a7a7a7; */
    border: 0px solid #000000;
    border-bottom: 1px solid $blockquote-text-color;
    font-size: 16px;
}

.search input:focus, .search textarea:focus { outline: 0; }

.results h3 {
  display: inline;
}

/* listing is used for post listing */

.listing a {
    font-family: $body-font;
    background-image: none !important;
    display: block;
}

.listing a:hover {
    background-color: $listing-hover-background-color;
    color: $text-color !important;
}
