<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title> {{ site.title }}</title>
        <link rel="stylesheet" href="/assets/css/notes.neeasade.net.css">
        <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">
    </head>

    <div class="container">
        <div class="panel">
            <span class="left">
                <a href="/">&#62; {{ site.title }}_</a>
            </span>

            <span class="right">
                <a href="/search">Search</a>
                <a href="/desktop">Rice</a>
                <a href="http://neeasade.net">Root</a>
            </span>
        </div>

        <div class="terminal">
            {{ content }}
        </div>
    </div>
</html>
